/************************************************************/
/* VARIABLES */
/************************************************************/
$tablet-min-width: 768px;
$small-desktop-min-width: 992px;
$desktop-min-width: 1200px;

/************************************************************/
/* MIXINS */
/************************************************************/

@mixin bienli-phone {
  @media (max-width: #{$tablet-min-width - 1px}) {
    @content;
  }
}

@mixin bienli-tablet {
  @media (min-width: #{$tablet-min-width}) and (max-width: #{$small-desktop-min-width - 1px}) {
    @content;
  }
}

@mixin bienli-desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

@mixin bienli-small-desktop {
  @media (min-width: #{$small-desktop-min-width}) and (max-width: #{$desktop-min-width - 1px}) {
    @content;
  }
}

@mixin bienli-flexbox {
  @include -at-root('.flexbox '&){
    @content;
  }
}

@mixin bienli-even {
  @include -at-root('.bienli-even '&){
    @content;
  }
}

@mixin bienli-odd {
  @include -at-root('.bienli-odd '&){
    @content;
  }
}

@mixin -at-root($selector) {
  @at-root {
    #{$selector} {
      @content;
    }
  }
}