@import "../common/base";

body, html {
  font-family: 'Open Sans', Helvetica, Verdana, Arial;
  font-size: 17px;
  line-height: $line-height-body;
  font-weight: 300;
  color: $color-black;
}

h1, %bienli-heading-1, h2, %bienli-heading-2, h3, %bienli-heading-3, h4, %bienli-heading-4, h5, %bienli-heading-5, h6, %bienli-heading-6 {
  font-weight: 600;
  color: $color-pink;
  line-height: $line-height-headings;
}

b, strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

@include bienli-desktop {
  h1, %bienli-heading-1 {
    font-size: 4.10rem;
  }

  h2, %bienli-heading-2 {
    font-size: 2.80rem;
  }

  h3, %bienli-heading-3 {
    font-size: 2.00rem;
  }

  h4, %bienli-heading-4 {
    font-size: 1.50rem;
  }

  h5, %bienli-heading-5 {
    font-size: 1.15rem;
  }
}

@include bienli-small-desktop {
  h1, %bienli-heading-1 {
    font-size: 4.10rem;
  }

  h2, %bienli-heading-2 {
    font-size: 2.80rem;
  }

  h3, %bienli-heading-3 {
    font-size: 2.00rem;
  }

  h4, %bienli-heading-4 {
    font-size: 1.50rem;
  }

  h5, %bienli-heading-5 {
    font-size: 1.15rem;
  }
}

@include bienli-tablet {
  h1, %bienli-heading-1 {
    font-size: 4.5rem;
  }

  h2, %bienli-heading-2 {
    font-size: 2.75rem;
  }

  h3, %bienli-heading-3 {
    font-size: 1.8rem;
  }

  h4, %bienli-heading-4 {
    font-size: 1.5rem;
  }

  h5, %bienli-heading-5 {
    font-size: 1.0rem;
  }
}


@include bienli-phone {
  h1, %bienli-heading-1 {
    font-size: 2.25rem;
  }

  h2, %bienli-heading-2 {
    font-size: 2.0rem;
  }

  h3, %bienli-heading-3 {
    font-size: 1.50rem;
  }

  h4, %bienli-heading-4 {
    font-size: 1.30rem;
  }

  h5, %bienli-heading-5 {
    font-size: 1.0rem;
  }
}