.bienli-cakes {

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: $color-pink;

    &-title {
      color: $color-white;
      @extend  %bienli-heading-2;
    }

    &:hover {
      background-color: $color-white;
    }

    &:hover .bienli-cakes-item-title {
      color: $color-pink;
    }
  }

  &-item-container {
    padding-top: 1rem;
    padding-bottom: 1rem;

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}