.bienli-cakes {

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    //border-bottom: solid 4px $color-white;
    height: 300px;
    //margin: 1rem;
    background-color: $color-pink;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      opacity: 0.2;
    }

    &-title {
      color: $color-white;
      @extend %bienli-heading-2;
    }

    a:hover {
      text-decoration: none;
    }

    &:hover img {
      opacity: 0.5;
    }

    &:hover {
      background-color: $color-black;
      //border: solid 2px $color-pink;
      //box-shadow: 1px 1px 5px 0 $color-black;
    }

    &:hover .bienli-cakes-item-title {
      color: $color-pink;
    }
  }
}