@import "../common/base";

.bienli-main {
  height: 100%;
}

.bienli-inlay {
  margin: 0 auto;

  @include bienli-desktop {
    width: 1200px;
  }

  @include bienli-small-desktop {
    width: 970px;
  }

  @include bienli-tablet {
    padding: 0 20px;
  }

  @include bienli-phone {
    padding: 0 20px;
  }
}

.bienli-section {
  padding: 3rem 0;

  h2 {
    margin-bottom: 1.5em;
    text-align: center;

    &:first-child {
      margin-top: #{-($line-height-headings - 1)/2};
    }
  }
}

.bienli-even {
  h2, h3, h4, h5 {
    color: $color-pink;
  }

  color: $color-black;
  background-color: $color-white;
}

.bienli-odd {
  h2, h3, h4, h5 {
    color: $color-pink;
  }

  color: $color-white;
  background-color: $color-black;
}
