@import "../common/base";

$page-margin: 35px;

.bienli-main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-pink, 0.5);
  z-index: 999;
  padding: 15px 30px;

  @include bienli-phone {
    padding: 5px 10px;
    position: relative;
    background-color: rgba($color-pink, 1);

  }

  &-logo {
    &-icon {
      color: $color-white;
    }
  }
}

.bienli-page-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: $color-blue-grey;
  border-bottom: 1rem solid $color-pink;
  height: 60%;

  @include bienli-phone {
    height: 30%;
  }
}
