@import "../common/base";

.bienli-main-navigation {
  text-align: end;

  li {
    display: inline-block;
    padding-right: 1rem;
  }

  a {
     color: $color-white;
     //text-transform: lowercase;
     text-decoration: none;
   }
}
