.bienli-team {

  &-text {
    flex-direction: column;
    color: $color-black;

    @include bienli-odd {
      color: $color-pink;
    }
  }

  &-image {
    @include bienli-phone {
      margin-top: 2rem;
    }
  }
}